/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Cookie', cursive;*/
*{
	font-family: 'Raleway', sans-serif;
	color: #2c3a42;
}

/*header section start*/
header{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: top-left;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.logo{
	font-family: 'Cookie', cursive;
	font-weight: 700;
	font-size: 50px;
	color: #e9e9ea !important;
	transition: .4s;
}
.logo:hover{
	color: #ad6c12 !important; 
}
.menu ul li{
	padding: 0px 30px;
}
.menu ul li:last-child {
	padding-right: 0;
}
.menu ul li a{
	font-weight: 700;
	font-size: 30px;
	color: #e9e9ea !important;
	transition: .5s;
	text-transform: uppercase;
}
.menu ul li a:hover{
	color: #ad6c12 !important;
}
.cus-toggler{
	background-color: #e9e9ea !important;
}
.cus-toggler:focus{
	outline: none;
}
.header_last{
	background-color: #d9dcdd;
	opacity: 0.9;
	width: 100%;
	padding: 50px 0;
	margin: 50px 0;
}
.content_hw{
	font-weight: 700;
	font-size: 50px;
	color: #ad6c12;
	text-transform: uppercase;
  	animation-name: example;
  	animation-duration: 3s;
  	animation-iteration-count: infinite;
}

@keyframes example {
  	50% {color: #2c3a42;}
}
/*modal*/
.cus-mbody{
	background-color: #d9dcdd !important;
}
.m-heading{
	font-weight: 700;
	font-size: 30px;
	color: #2c3a42;
	text-transform: uppercase;
}
.form-m button{
	border: none;
	padding: 10px 30px;
	transition: .5s;
}
.form-m button:hover{
	color: white;
	background-color: #2c3a42;
}
.form-m button:focus{
	outline: 0;
}
.f-1{
	margin: 3px 0;
}
.m-custb:focus{
	outline: none;
}
/*modal*/
.content_h{
	font-weight: 700;
	font-size: 50px;
	color: #ad6c12;
	text-transform: uppercase;
}
.main_heading{
	font-family: 'Cookie', cursive;
	font-size: 105px;
	margin-bottom: 20px;
}
.header_last a{
	font-weight: 700;
	font-size: 38px;
	color: #2c3a42;
	background-color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 9px 30px;
	margin-top: 20px;
	transition: .5s;
}
.header_last a:hover{
	color: #ad6c12;
}
/*header section end*/
/*slider start*/
.slider{
	background-color: #26363a;
	padding: 50px 0;
}
.s1_left{
}
.s1_left h3{
	font-weight: 700;
	font-size: 29px;
	color: #fff;
	margin: 50px 0 45px 0;
}
.s1_left p{
	font-size: 18px;
	color: #fff;
	line-height: 30px;
}
/*slider end*/
/*section3 start*/
.s3{
	background-color: #d4d8d9;
	padding: 50px 0;
}
.cus-ccol{
	background: transparent;
}
.s3-cust-b:hover{
	text-decoration: none;
}
.s3-cust-b:focus{
	text-decoration: none;
	/*outline: 0;*/
}
.sl-i1{
	padding: 50px 0;
}
.circle{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #2a3b40;
}
.s3-cust-b h4{
	font-weight: 700;
	font-size: 25px;
}
.s3 p{
	font-size: 18px;
}
/*section3 end*/
/*menu section start*/
.menu-plate{
	background-image: url(../images/banner2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
}
.menu-bg{
	background-color: #d9dcdd;
	opacity: .9;
}
.top_heading{
	padding: 30px 0;
}
.item_price{
	padding: 38px 0;
}
.item_price h3{
	font-weight: 700;
	font-size: 19px;
	text-transform: uppercase;
}
.item_price p{
}
.price{
	font-weight: 700;
}
/*menu section end*/
/*section4 start*/
.s4{
	background-color: #d9dcdd;
}
.s4_content{
	padding: 50px 0;
}
.s4_content h2{
	font-weight: 700;
	font-size: 29px;
}
.s4_content p{
	font-size: 18px;
	line-height: 30px;
	margin: 38px 0;
}
.some-link li{
	padding: 0 25px;
}
.some-link li a{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 17px;
	color: #2a3b40;
	text-decoration: none;
}
.some-link li a:hover{
	border-bottom: 2px solid #2a3b40;
}
/*section4 end*/
/*section5 start*/
.s5{
	background-image: url(../images/banner3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
}
.s5_details{
	background-color: #d9dcdd;
}
.sin-new{
	margin-bottom: 30px;
}
.chi_pic{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: white;
}
.chi_pic img{
	margin: 24px 14px;
}
.chi_des h4{
	font-weight: 700;
	font-size: 18.5px;
	text-transform: uppercase;
}
/*3rd row*/
.card-cust{
	margin: 60px 0;
	transition: 1s;
}
.card-cust:hover{
	transform: scale(1.1);
}
.b_date {
	font-weight: 700;
	font-size: 14px;
}
.b_descrp {
	font-weight: 700;
	font-size: 17px;
}
.b_parag {
	font-size: 17px;
}
.card-cust a{
	font-weight: 700;
	font-size: 14px;
	color: #304751;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 4px solid #ff992b;
}
/*section5 end*/
/*section6 start*/
.s6{
	background-color: #2a3b40;
	padding: 50px 0;
}
.book-here h2{
	font-family: 'Cookie', cursive;
	font-size: 105px;
	color: white;
}
.h_input{
	font-weight: 700;
	color: white;
}
.cus-f1{
	font-weight: 700;
	width: 80%;
	height: 28px;
	background: transparent;
	color: white;
	border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 40px;
}
.cus-f1:focus{
	outline: none;
}
/*section6 end*/
/*team start*/
.team{
	background-color: #d9dcdd;
	padding: 50px 0;
}
#talkbubble {
	background-color: #eeeeec;
    width: 95%;
    height: 130px;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 123px;
    width: 0;
    left: 30px;
    height: 0;
    border-left: 13px solid transparent;
    border-top: 26px solid  #eeeeec;
    border-right: 13px solid transparent;
}
.cus-img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
/*team end*/
 /*quote section start*/
 .quote{
 	background-color: #2a3b40;
	padding: 50px 0; 
 }
.qicon i{
	font-size: 35px;
	color: white;
}
.q-content{
	font-size: 18px;
	color: white;
	margin: 30px 0;
}
.q-name{
	font-weight: 700;
	font-size: 20px;
	color: white;
	margin: 30px 0;
}
.smedia-link li{
	font-size: 35px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	margin: 0 30px;
}
.smedia-link li a i{
	transition: .5s;
}
.smedia-link li a i:hover{
	color: #ad6c12;
}
 /*quote section end*/
 /*footer start*/
 footer{
 	background-color: #d9dcdd;
 	padding: 50px 0;
 }
 footer h3{
 	font-weight: 700;
 	font-size: 26px;
 }
 .smedia-linkf li{
	font-size: 25px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
 }
.smedia-linkf li a i{
	margin: auto;
	transition: .5s;
}
.smedia-linkf li a i:hover{
	color: #ad6c12;
}
.cus-f-link li a{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #2c3a42;
	text-decoration: none;
}
.cus-f-link li a:hover{
	border-bottom: 2px solid #2a3b40;
}
 /*footer end*/

